<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    {% if messages %}
    <div class="alert alert-info" role="alert">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </div>
    {% endif %}
    <br>
    welcome to Dashboard<br>
    Create New <a href="{% url 'create_task' %}">Task</a><br>
    <a href="{% url 'view_tasks' %}">View Tasks</a><br>
    <a href="{% url 'logout' %}">Logout</a>
</body>
</html>